<div class="row">
    <div class="col-md-1 d-flex flex-wrap">
        <div class="grid_01">
            <div class="tabs_home d-flex justify-content-center align-self-center" [routerLink]="['/']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/home_sm.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/senhas']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/key.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/redes']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/wifi.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/config']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/gears.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="d-flex justify-content-start grid_00">
            <div class="card bx-sw card-editar-senha">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5>Tabela de redes - HMCR</h5>
                        </div>
                    </div>      
                </div>
                <div class="card-body">
                    <div class="card bx-sw" >
                        <div class="card-header">
                        Editar / novo cadastro 
                        </div>
                        <div class="card-body">
                            <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                                <div class="form-group">
                                    <label for="ssid">SSID</label>
                                    <input type="text" class="form-control" placeholder="Nome da rede" id="ssid" name="ssid" formControlName="ssid">
                                </div>
                                <div class="form-group">
                                    <label for="end">Endereço</label>
                                    <input type="text" class="form-control" placeholder="Endereço" id="end" formControlName="end" name="end">
                                </div>
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="form-control" placeholder="Senha" id="senha" formControlName="senha" name="senha" >
                                </div>
                                <div class="form-group">
                                    <label for="login">login</label>
                                    <input type="text" class="form-control" placeholder="Login" id="login" formControlName="login" nome="login">
                                </div>
                                <div class="form-group">
                                    <label for="senha">Senha Adm</label>
                                    <input type="password" class="form-control" placeholder="Senha do Adm" id="senha" formControlName="senha_adm" name="senha_adm" >
                                </div>
                                <div class="form-group">
                                    <label for="obs">Complemento</label>
                                    <input type="text" class="form-control" placeholder="Observação" id="obs" nome="obs" formControlName="obs">
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary btn-nova-senha">Salvar</button>
                                            <button [routerLink]="['/rede']" routerLinkActive="router-link-active"  class="btn btn-warning btn-nova-senha">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{{ssid}}
    {{    end}}
        {{pwd}}
            {{login}}
                {{adm_pwd}}
                    {{obs}}