@import "~bootstrap/dist/css/bootstrap.css";
body{
   /* background: linear-gradient(90deg, rgba(65,142,204,1) 0%, rgba(44,76,199,1) 50%, rgba(57,161,235,1) 100%);*/
   background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(57,161,235,0.9332107843137255) 100%);

}
.tabs_home{
	width: 100px;
	height: 90px;
	background-color: #ffffff;
	border-top-left-radius: 10px;
	border-color: f2f5f6;
	-webkit-box-shadow: -11px -2px 16px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: -11px -2px 16px -16px rgba(0,0,0,0.75);
	box-shadow: -11px -2px 16px -16px rgba(0,0,0,0.75);

}
.tabs_home:hover {
	background-color: yellow;
}
.tabs_outras:hover {
	background-color: yellow;
}
.tabs_home:visited {
	color: green;
}
.tabs_outras{
	width: 100px;
	height: 90px;
	background-color: #ffffff;
	margin-top: 1%;
	border-color: f2f5f6;
	-webkit-box-shadow: -11px -2px 16px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: -11px -2px 16px -15px rgba(0,0,0,0.75);
	box-shadow: -11px -2px 16px -15px rgba(0,0,0,0.75);
} 
.grid_00{
	margin-left: 0.7%;
}
.grid_01{
	margin-left: 0.7%;
}

.tt1{
background-color: blue;
}
.tt2{
	background-color: red;
}
.tt3{
	background-color: yellow;
}
.tt4{
	background-color: green;
}
.card-editar-senha{
	width: 100%;
}
.form-1{
    width: 98%;
    box-shadow:100px 100px 100px rgba(0, 0, 0, 0.05000000074505806);
	background-color:#ffffff;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.btn-nova-senha{
    margin: 1%;
    margin-top: 2%;
}