<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
            Comunicados
            </div>
            <div class="card-body">
            <h5 class="card-title">Autorização Amil - Covid-19</h5>
            <p class="card-text">A partir do dia 19/03, todos os acompanhantes terão de realizar o teste de covid-19 <br> para poder acompanhar o(a) paciente internado</p>
            <a href="#" class="btn btn-primary">Marcar como lida</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                    Comunicados
            </div>
            <div class="card-body">
                <h5 class="card-title">Autorização Amil - Covid-19</h5>
                <p class="card-text">A partir do dia 19/03, todos os acompanhantes terão de realizar o teste de covid-19 <br> para poder acompanhar o(a) paciente internado</p>
                <a href="#" class="btn btn-primary">Marcar como lida</a>
            </div>
        </div>
    </div>
</div>