<div class="row">
    <div class="col-md-1 d-flex flex-wrap">
        <div class="grid_01">
            <div class="tabs_home d-flex justify-content-center align-self-center" [routerLink]="['/']" routerLinkActive="router-link-active">
                <div class="d-flex align-self-center">
                    <img src="../../assets/home_sm.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/senhas']" routerLinkActive="router-link-active">
                <div class="d-flex align-self-center">
                    <img src="../../assets/key.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center">
                <div class="d-flex align-self-center">
                    <img src="../../assets/wifi.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/config']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/gears.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="d-flex justify-content-start grid_00">
        <div class="card bx-sw">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="card card-sw">
                            <div class="card-header card-header-feed">
                                Comunicados
                            </div>
                            <div class="card-body">  
                                <div *ngFor="let card of cards" class="card card-feed-home card-sw-post">
                                    <div class="card-header-post">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="row">
                                                    <div class="profile">
                                                        <img src="../../assets/avatar_profile_w.png">
                                                    </div>                                         
                                                </div>
                                                <div class="row">
                                                    <small class="card-autor">{{card.autor}}</small>
                                                </div> 
                                            </div>
                                            <div class="col-8">
                                                <div class="row d-flex align-items-center  card-titulo">
                                                    <div>
                                                        <h5 class="card-title d-flex justify-content-start">{{card.titulo}}</h5>
                                                        <hr style="width:100%"> 
                                                        <div class="d-flex justify-content-end data-card">{{card.data_criacao}} </div>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{card.conteudo}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="card card-sw">
                                <div class="card-header">
                                        Treinamento & POP'S
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let artigo of artigos" class="row">
                                        <div class="col-2">
                                            <img [src]="autor_avatar" width="33px" height="33px">
                                            
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                {{artigo.titulo}}
                                            </div>
                                            <div class="row">
                                               <small>{{artigo.autor}}</small> 
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">Ver todos os artigos <img src="../../assets/ver_mais.png"> </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card_feed">
                                <div class="card-header">
                                        Outros avisos e circulares
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Autorização Amil - Covid-19</h5>
                                    <p class="card-text">A partir do dia 19/03, todos os acompanhantes terão de realizar o teste de covid-19 <br> para poder acompanhar o(a) paciente internado</p>
                                    <a href="#">Ver todos os avisos <img src="../../assets/ver_mais.png"> </a>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
</div>