<div class="row">
    <div class="col-md-1 d-flex flex-wrap">
        <div class="grid_01">
            <div class="tabs_home d-flex justify-content-center align-self-center" [routerLink]="['/']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/home_sm.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/senhas']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/key.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/redes']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/wifi.png">
                </div>
            </div>
            <div class="tabs_outras d-flex justify-content-center" [routerLink]="['/config']" routerLinkActive="router-link-active" >
                <div class="d-flex align-self-center">
                    <img src="../../assets/gears.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="d-flex justify-content-start grid_00">
        <div class="card bx-sw form-1">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5>Avisos e circulares </h5> 
                    </div>
                </div>      
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    </div>
</div>